block footer

	footer#footer.footer

		.footer__main

			.container

				ul.footer__menu

					li.footer__menu-item
						.footer__menu-title
							a.footer__menu-link(href="#") Информация
							span.down-arrow
						ul.footer__menu-subcat
							li
								a.footer__subcat-link(href="#") Услуги
							li
								a.footer__subcat-link(href="#") Клиника
							li
								a.footer__subcat-link(href="#") Наркомания
							li
								a.footer__subcat-link(href="#") Алкоголизм
							li
								a.footer__subcat-link(href="#") Цены
							li
								a.footer__subcat-link(href="#") Психологическая помощь
							li
								a.footer__subcat-link(href="#") Реабилитационный центр
							li
								a.footer__subcat-link(href="#") Контакты

					li.footer__menu-item
						.footer__menu-title
							a.footer__menu-link(href="#") Лечение табакокурения
							span.down-arrow
						ul.footer__menu-subcat
							li
								a.footer__subcat-link(href="#") Курительные смеси
							li
								a.footer__subcat-link(href="#") Кодирование от табакокурения

					li.footer__menu-item
						.footer__menu-title
							a.footer__menu-link(href="#") Лечение алкоголизма
							span.down-arrow
						ul.footer__menu-subcat
							li
								a.footer__subcat-link(href="#") Кодирование
							li
								a.footer__subcat-link(href="#") Кодирование по методу Довженко
							li
								a.footer__subcat-link(href="#") Анонимное лечение
							li
								a.footer__subcat-link(href="#") Лечение гипнозом
							li
								a.footer__subcat-link(href="#") Конфигуративный метод
							li
								a.footer__subcat-link(href="#") Лечение женского алкоголизма
							li
								a.footer__subcat-link(href="#") Лечение пивного алкоголизма

					li.footer__menu-item
						.footer__menu-title
							a.footer__menu-link(href="#") Избыточный вес
							span.down-arrow
						ul.footer__menu-subcat
							li
								a.menu__subcat-link(href="#") Коррекция веса

					li.footer__menu-item
						a.footer__menu-link(href="#") Шопоголизм
					li.footer__menu-item
						a.footer__menu-link(href="#") Стрессы
					li.footer__menu-item
						a.footer__menu-link(href="#") Созависимость
					li.footer__menu-item
						a.footer__menu-link(href="#") Депрессия
					li.footer__menu-item
						a.footer__menu-link(href="#") Консультация психотерапевта
					li.footer__menu-item
						a.footer__menu-link(href="#") Консультация нарколога

					li.footer__menu-item
						.footer__menu-title
							a.footer__menu-link(href="#") Игромания
							span.down-arrow
						ul.footer__menu-subcat
							li
								a.footer__subcat-link(href="#") Неврозы

					li.footer__menu-item
						.footer__menu-title
							a.footer__menu-link(href="#") Страхи и Фобии
							span.down-arrow
						ul.footer__menu-subcat
							li
								a.footer__subcat-link(href="#") Социофобия
							li
								a.footer__subcat-link(href="#") Панические атаки
							li
								a.footer__subcat-link(href="#") Клаустрофобия
							li
								a.footer__subcat-link(href="#") Агорафобия
							li
								a.footer__subcat-link(href="#") Гипнофобия
							li
								a.footer__subcat-link(href="#") Демофобия
							li
								a.footer__subcat-link(href="#") Антропофобия
							li
								a.footer__subcat-link(href="#") Никтофобия
							li
								a.footer__subcat-link(href="#") Страх вождения
							li
								a.footer__subcat-link(href="#") Аэрофобия
							li
								a.footer__subcat-link(href="#") Лечение фобий гипнозом

		.footer__bottom

			.container

				.footer__bottom-inner

					.footer__logo
						a(href="#")
							img(src="assets/images/logo.png", alt="logo")

					.footer__credits
						p.footer-copyright © 2022 , Психотерапевтический центр "Дар"
						p.footer-license <a href="#">Лицензия</a> на Медицинскую деятельность № ЛО-77-01-004234
						p.footer-devs Разработка сайта <a href="https://di-project.studio/">Di-Project</a>

					.footer__phone
						a(href="tel:+74951860563") +7 (495) 186-05-63
						span с 09:00 до 20:00

	// MODAL FORM FANCYBOX
	include ../modals/_modal-appointment