block footer

	footer#footer.footer

		.footer__main

			ul.footer__menu

				li.footer__menu-item
					a.footer__menu-link(href="#") Информация
					ul.footer__menu-subcat
						li
							a.footer__menu-link(href="#") Услуги
						li
							a.footer__menu-link(href="#") Клиника
						li
							a.footer__menu-link(href="#") Наркомания
						li
							a.footer__menu-link(href="#") Алкоголизм
						li
							a.footer__menu-link(href="#") Цены
						li
							a.footer__menu-link(href="#") Психологическая помощь
						li
							a.footer__menu-link(href="#") Реабилитационный центр
						li
							a.footer__menu-link(href="#") Контакты

				li.footer__menu-item
					a.footer__menu-link(href="#") Лечение алкоголизма
					ul.footer__menu-subcat
						li
							a.footer__menu-link(href="#") Кодирование
						li
							a.footer__menu-link(href="#") Кодирование по методу Довженко
						li
							a.footer__menu-link(href="#") Анонимное лечение
						li
							a.footer__menu-link(href="#") Лечение гипнозом
						li
							a.footer__menu-link(href="#") Конфигуративный метод
						li
							a.footer__menu-link(href="#") Лечение женского алкоголизма
						li
							a.footer__menu-link(href="#") Лечение пивного алкоголизма

				li.footer__menu-item
					a.footer__menu-link(href="#") Лечение табакокурения
					ul.footer__menu-subcat
						li
							a.footer__menu-link(href="#") Курительные смеси
						li
							a.footer__menu-link(href="#") Кодирование от табакокурения

				li.footer__menu-item
					a.footer__menu-link(href="#") Шопоголизм
				li.footer__menu-item
					a.footer__menu-link(href="#") Стрессы
				li.footer__menu-item
					a.footer__menu-link(href="#") Созависимость
				li.footer__menu-item
					a.footer__menu-link(href="#") Депрессия
				li.footer__menu-item
					a.footer__menu-link(href="#") Консультация психотерапевта
				li.footer__menu-item
					a.footer__menu-link(href="#") Консультация нарколога
				li.footer__menu-item
					a.footer__menu-link(href="#") Игромания
					ul.footer__menu-subcat
						li
							a.footer__menu-link(href="#") Неврозы

				li.footer__menu-item
					a.footer__menu-link(href="#") Избыточный вес
					ul.footer__menu-subcat
						li
							a.menu-subcat_link(href="#") Коррекция веса

				li.footer__menu-item
					a.footer__menu-link(href="#") Страхи и Фобии
					ul.footer__menu-subcat
						li
							a.footer__menu-link(href="#") Социофобия
						li
							a.footer__menu-link(href="#") Панические атаки
						li
							a.footer__menu-link(href="#") Клаустрофобия
						li
							a.footer__menu-link(href="#") Агорафобия
						li
							a.footer__menu-link(href="#") Гипнофобия
						li
							a.footer__menu-link(href="#") Демофобия
						li
							a.footer__menu-link(href="#") Антропофобия
						li
							a.footer__menu-link(href="#") Никтофобия
						li
							a.footer__menu-link(href="#") Страх вождения
						li
							a.footer__menu-link(href="#") Аэрофобия
						li
							a.footer__menu-link(href="#") Лечение фобий гипнозом

		.footer__bottom
