block header

    header#header.header

        .container

            .header__top

                .header__logo
                    a(href="#")
                        img(src="assets/images/logo.png", alt="logo")
                        span Работает с 1989 года

                .header__contacts
                    .header-address
                        i.fas.fa-map-marker-alt
                        p г. Москва, ул. Дубининская, дом 57, стр. 2, офис 101
                        span Прием пациентов: Ежедневно: 9:00-16:00

                    .header-phone
                        i.fas.fa-phone-alt
                        a(href="tel:+74951860563") +7 (495) 186-05-63
                        span Ежедневно с 09:00 до 20:00

                .header__buttons
                    button.button-style.button-style--orange Обратный звонок
                    button.button-style.button-style--blue Записаться на приём

                .header__menu-mobile
                    i.far.fa-bars


            .header__nav

                .nav__inner

                    nav.navbar

                        .navbar__menu
                            .navbar__item-submenu.navbar__item
                                span.nav__item-menu Услуги лечения

                                ul.navbar__submenu

                                    li.menu-item
                                        .menu-item_title
                                            a.menu-item_link(href="#") Лечение алкоголизма
                                            span.down-arrow
                                        ul.menu-subcat
                                            li
                                                a.menu-subcat_link(href="#") Кодирование
                                            li
                                                a.menu-subcat_link(href="#") Кодирование по методу Довженко
                                            li
                                                a.menu-subcat_link(href="#") Анонимное лечение
                                            li
                                                a.menu-subcat_link(href="#") Лечение гипнозом
                                            li
                                                a.menu-subcat_link(href="#") Конфигуративный метод
                                            li
                                                a.menu-subcat_link(href="#") Лечение женского алкоголизма
                                            li
                                                a.menu-subcat_link(href="#") Лечение пивного алкоголизма

                                    li.menu-item
                                        .menu-item_title
                                            a.menu-item_link(href="#") Лечение табакокурения
                                            span.down-arrow
                                        ul.menu-subcat
                                            li
                                                a.menu-subcat_link(href="#") Курительные смеси
                                            li
                                                a.menu-subcat_link(href="#") Кодирование от табакокурения

                                    li.menu-item
                                        a.menu-item_link(href="#") Шопоголизм
                                    li.menu-item
                                        a.menu-item_link(href="#") Стрессы
                                    li.menu-item
                                        a.menu-item_link(href="#") Созависимость
                                    li.menu-item
                                        a.menu-item_link(href="#") Депрессия
                                    li.menu-item
                                        a.menu-item_link(href="#") Консультация психотерапевта
                                    li.menu-item
                                        a.menu-item_link(href="#") Консультация нарколога
                                    li.menu-item
                                        .menu-item_title
                                            a.menu-item_link(href="#") Игромания
                                            span.down-arrow
                                        ul.menu-subcat
                                            li
                                                a.menu-subcat_link(href="#") Неврозы

                                    li.menu-item
                                        .menu-item_title
                                            a.menu-item_link(href="#") Избыточный вес
                                            span.down-arrow
                                        ul.menu-subcat
                                            li
                                                a.menu-subcat_link(href="#") Коррекция веса

                                    li.menu-item
                                        .menu-item_title
                                            a.menu-item_link(href="#") Страхи и Фобии
                                            span.down-arrow
                                        ul.menu-subcat
                                            li
                                                a.menu-subcat_link(href="#") Социофобия
                                            li
                                                a.menu-subcat_link(href="#") Панические атаки
                                            li
                                                a.menu-subcat_link(href="#") Клаустрофобия
                                            li
                                                a.menu-subcat_link(href="#") Агорафобия
                                            li
                                                a.menu-subcat_link(href="#") Гипнофобия
                                            li
                                                a.menu-subcat_link(href="#") Демофобия
                                            li
                                                a.menu-subcat_link(href="#") Антропофобия
                                            li
                                                a.menu-subcat_link(href="#") Никтофобия
                                            li
                                                a.menu-subcat_link(href="#") Страх вождения
                                            li
                                                a.menu-subcat_link(href="#") Аэрофобия
                                            li
                                                a.menu-subcat_link(href="#") Лечение фобий гипнозом

                        // Цикл
                        .navbar__item(class= page_about ? 'active' : false)
                            a.navbar__link(href="#") О центре
                        .navbar__item(class= page_doctors ? 'active' : false)
                            a.navbar__link(href="#") Врачи
                        .navbar__item(class= page_reviews ? 'active' : false)
                            a.navbar__link(href="#") Отзывы
                        .navbar__item(class= page_prices ? 'active' : false)
                            a.navbar__link(href="#") Цены
                        .navbar__item(class= page_contacts ? 'active' : false)
                            a.navbar__link(href="#") Контакты

                    .header__top-mobile

                        .header__buttons
                            button.button-style.button-style--orange Обратный звонок
                            button.button-style.button-style--blue Записаться на приём

                        .header__contacts
                            .header-address
                                i.fas.fa-map-marker-alt
                                p г. Москва, ул. Дубининская, дом 57, стр. 2, офис 101
                                span Прием пациентов: Ежедневно: 9:00-16:00

                            .header-phone
                                i.fas.fa-phone-alt
                                a(href="tel:+74951860563") +7 (495) 186-05-63
                                span Ежедневно с 09:00 до 20:00
