$blue: #05256F;
$orange: #FFB102;
$lightOrange: #F5D37E;

@import 'base/normalize';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/fontawesome';
@import 'base/reset';
@import 'base/ui';

@import 'plugins/swiper-bundle';

@import 'includes/header';
@import 'includes/footer';

@import 'components/breadcrumbs';
@import 'components/consultation';
@import 'components/reviews';

@import 'pages/homepage';
@import 'pages/doctors';
@import 'pages/doctors-inner';
@import 'pages/reviews';
@import 'pages/about';
@import 'pages/contacts';
@import 'pages/price';
@import 'pages/service';
@import 'pages/category';
@import 'pages/articles';
@import 'pages/services-page';


@import 'modals/modal-callback';
@import 'modals/modal-appointment';