.invert-section {
    background-image: url('../images/callback-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.consultation-wrapper {
    padding: 30px 20px 14px;
    background-color: #fff;
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 40px 38px 14px;
        border: 1px solid #D7D7D7;
    }

    @include breakpoint(lg) {
        padding: 54px 68px 14px;
    }
}

.consultation-form ::placeholder {
    color: inherit;
}

.invert-section .consultation-wrapper {
    background-color: transparent;
}

.consultation-wrapper.invert-block {
    padding: 50px 0 20px;
    border: none;

    @include breakpoint(lg) {
        padding: 135px 0 70px;
    }
}

.consultation-title.invert-block {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
}

.consultation-subtitle {
    margin: 20px 0;
    max-width: 716px;
    color: #979FA8;

    @include breakpoint(md) {
        margin: 40px 0 25px;
    }
}

.consultation-subtitle.invert-block {
    color: #fff;
}

.cons-form-row {
    margin: 0 0 30px;
    max-width: 375px;

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        column-gap: 30px;
        max-width: unset;
    }
}

.cons-input-wrapper {
    margin: 0 0 30px;
    width: 100%;

    @include breakpoint(md) {
        margin: 0;
    }
}

.cons-input {
    margin: 5px 0 0;
    position: relative;
    width: 100%;

    @include breakpoint(md) {
        margin: 15px 0 0;
    }
}

.cons-agreement {
    margin: 0 0 30px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    color: #000;

    @include breakpoint(md) {
        margin: 0;
    }
}

.cons-agreement a {
    display: inline-block;
    text-decoration: underline;
}

.cons-agreement.invert-block {
    color: #fff;
}

.cons-input::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    font-family: $icon;
    font-size: 18px;
}

.cons-input.invert-block::after {
    color: $orange;
}

.cons-input-name::after {
    content: '\f007';
    padding: 14px 21px 0 0;
}

.cons-input-phone::after {
    content: '\f095';
    padding: 14px 21px 0 0;
}

.cons-input-wrapper label {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}

.cons-input-wrapper label.invert-block {
    color: $orange;
}
.cons-input input {
    padding: 13px 40px 13px 25px;
    height: 47px;
}

.cons-input input.invert-block {
    background: transparent;
    color: #979FA8;
}

.cons-button {
    max-width: 182px;
    cursor: pointer;
}

