.about-articles .consultation-wrapper {
    padding: 52px 48px 10px;
}

.about-articles input {
    padding: 13px 42px 13px 25px;
}

.about-articles input::placeholder {
    color: #979FA8;
}