.doc-schedule-section {
    padding: 30px 0;

    @include breakpoint(md) {
        padding: 60px 0;
    }
}

.doc-schedule-section .container {

    @include breakpointMax(md) {
        padding: 0;
    }
}

.doc-schedule__title {
    margin: 0 0 30px;
    padding: 0 20px;
    text-align: center;

    @include breakpoint(md) {
        padding: 0;
    }

    @include breakpoint(lg) {
        margin: 0 0 60px;
    }
}

.doc-schedule__table {
    width: 100%;
}

.doc-schedule__table th {
    padding: 13px 29px;
    background: $blue;
    font-weight: 600;
    color: #fff;
    text-align: left;
}

.doc-schedule__table td {
    padding: 13px 21px;

    @include breakpoint(xl) {
        padding: 13px 29px;
    }
}

.doc-schedule__table tbody tr:nth-child(even) td {
    background: #F2F2F2;
}

.doc-schedule__table th:nth-child(odd) {
    width: 66.666%;
}

.doc-schedule__table td:nth-child(odd) {
    width: 66.666%;
    color: $blue;
}

.doc-schedule__table th:nth-child(even),
.doc-schedule__table td:nth-child(even) {
    display: inline-block;
    width: 100%;

    @include breakpoint(md) {
        margin-left: 30px;
        width: calc(100% - 30px);
    }
}

.doctors-section {
    padding: 50px 0 60px;

    @include breakpoint(xl) {
        padding: 90px 0 120px;
    }
}

.doctors-section .container {

    @include breakpointMax(md) {
        padding: 0;
    }
}

.docs__wrapper {

    @include breakpoint(xl) {
        display: flex;
        column-gap: 30px;
    }
}

.docs__left {

    @include breakpoint(xl) {
        width: 100%;
        max-width: 362px;
    }
}

.docs__anonymous {
    padding: 60px 30px;
    background: #000;

    @include breakpoint(md) {
        padding: 35px 60px 60px;
        background: linear-gradient(90deg, rgba(2,3,7,0.2) 10.28%, #000000 33.42%),url(../images/anonymous.jpg) no-repeat,#000;
        background-size: contain;
        text-align: right;
    }

    @include breakpoint(xl) {
        padding: 35px 20px 30px;
        background: linear-gradient(180deg, rgba(2, 3, 7, 0) 40.28%, #02060F 79.42%), url('../images/anonymous.jpg'), #05256F;
        text-align: center;
    }
}

.docs__anonymous-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $orange;

    @include breakpoint(md) {
        margin: 70px 0 30px;
        font-size: 30px;
        text-align: right;
    }

    @include breakpoint(xl) {
        margin: 0 auto;
        max-width: 214px;
        font-size: 24px;
        text-align: center;
    }
}

.docs__anonymous-text {
    margin: 30px 0 0;
    font-size: 16px;
    line-height: 30px;
    color: #fff;

    @include breakpoint(md) {
        margin: 0;
        line-height: 40px;
        text-align: right;
    }

    @include breakpoint(xl) {
        margin: 209px 0 0;
        line-height: 24px;
        text-align: center;
    }
}

.docs__anonymous-text a {
    font-weight: 600;
    line-height: 30px;
}

.anonymous-button {
    margin: 28px 0 0;
    max-width: 198px;
}

.docs__sertificates {

    @include breakpointMax(md) {
        padding: 0 20px;
    }
}

.docs__sertificates-title {
    margin: 30px 0 28px;

    @include breakpoint(md) {
        margin: 52px 0 28px;
    }
}

.docs__sertificates-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 18px;

    @include breakpoint(md) {
        column-gap: 30px;
    }
}

.docs__sertificates-image {
    width: 20%;

    @include breakpoint(xl) {
        width: 100%;
        max-width: 45.85%;
    }
}

.docs__right {
    margin: 50px 0 0;
    padding: 0 20px;

    @include breakpoint(md) {
        padding: 0;
    }

    @include breakpoint(xl) {
        margin: 0;
        width: 100%;
        max-width: 66.666%;
    }
}

.docs__block {
    margin: 0 auto 30px;
    max-width: 480px;
    border-bottom: 0;
    box-sizing: border-box;

    @include breakpoint(md) {
        margin: 0;
        padding: 30px;
        display: flex;
        max-width: unset;
        border: 1px solid #D7D7D7;
    }
}

.docs__block:last-child {

    @include breakpoint(md) {
        border-bottom: 1px solid #D7D7D7;
    }
}

.docs__photo {
    margin: 0 auto;
    min-width: 193px;
    max-width: 193px;
    max-height: 222px;
    overflow: hidden;

    @include breakpoint(md) {
        margin: 0;
    }
}

.docs__photo img {
    object-fit: cover;
}

.docs__info {
    margin: 20px auto 0;

    @include breakpoint(md) {
        margin: 0;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }
}

.docs__info-title {
    text-align: center;

    @include breakpoint(md) {
        text-align: unset;
    }
}

.docs__info-text {
    margin: 15px 0 0;
    text-align: center;

    @include breakpoint(md) {
        text-align: unset;
    }
}

.info-buttons-action {
    margin: 20px 0 0;
    text-align: center;

    @include breakpoint(md) {
        margin: auto 0 0;
        display: flex;
        column-gap: 20px;
        text-align: unset;
    }
}

.info-buttons-action a {
    margin: 0 auto;

    @include breakpoint(md) {
        margin: 0;
    }
}

.info-buttons-action button {
    margin: 10px 0 0;
    max-width: 198px;

    @include breakpoint(md) {
        margin: 0;
    }
}

.docs__content {

    @include breakpoint(xl) {
        padding: 44px 0 0;
    }
}

.docs__content-title {
    margin: 40px 0;
}

.docs__content-text {
    color: #585858;
}

.docs__list-title  {
    margin: 70px 0 40px;
    max-width: 750px;
}

.docs__list-text li {
    margin-top: 35px;
    margin-left: 32px;
    position: relative;
    font-size: 14px;
    line-height: 26px;

    @include breakpoint(md) {
        font-size: 16px;
        line-height: 32px;
    }
}

.docs__list-text li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -32px;
    width: 11px;
    height: 11px;
    border: 3px solid #04246E;
    border-radius: 50%;
}

.docs-credit {
    margin: 70px 0 0;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #04246E;
    text-align: right;
}