//////////////
/// HERO
//////////////

.slider-container {
    padding: 123px 0 85px;
    
    @include breakpointMax(sm) {
        padding: 80px 0;
        background: linear-gradient(270deg, #05256F 0%, rgba(5, 37, 111, 0) 13.66%), linear-gradient(90deg, #04246E 44%, rgba(4, 36, 110, 0.5) 100%)!important;
    }
}

.hero__title {
    max-width: 525px;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: $orange;
    text-transform: uppercase;

    @include breakpoint(sm) {
        font-size: 36px;
    }
}

.hero__title span {
    font-weight: 500;
    color: #fff;
}

.hero__subtitle {
    margin: 40px 0;
    max-width: 525px;
    font-size: 16px;
    line-height: 27px;
    color: #fff;
}

.hero__action {
    max-width: 198px;
}

.hero-section .swiper-pagination-bullet {
    background: #fff;
}

.hero-section .swiper-pagination-bullet-active {
    background: #fff;
}

.hero-section .swiper-pagination-bullet-active::after {
    border: 1px solid #fff;
}

/////////////
// SERVICES
/////////////

.services-section {
    padding: 30px 0;
}

.services__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 30px;

    @include breakpoint(md) {
        flex-direction: row;
    }
}

.service__block {
    margin: 0 0 30px;
    width: 100%;

    @include breakpoint(md) {
        margin: 0;
        width: 33.333%;
    }
}

.service__image img {
    width: 100%;
}

.service__title {
    margin: 10px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    
    @include breakpoint(md) {
        margin: 20px 0;
        font-size: 24px;
    }
}

.service__subtitle {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #979FA8;
}

.service__subtitle::before {
    content: '';
    margin-right: 17px;
    background: $blue;
    display: block;
    min-width: 12px;
    height: 12px;
}

////////////////
// SPECIALISTES
////////////////

.specialistes-section {
    padding: 42px 0 30px;
    background: linear-gradient(180deg, rgba(215, 215, 215, 0.2) 0%, rgba(246, 246, 246, 0) 100%);

    @include breakpoint(lg) {
        padding: 42px 0 70px;
    }
}

.specialistes-title {
    margin: 0 0 30px;

    @include breakpoint(md) {
        margin: 0 0 40px;
    }
}

.specialistes__slider {
    padding: 0 0 70px;
    max-width: 900px;

    @include breakpoint(xl) {
        max-width: 100%;
    }
}

.specialistes__title {
    margin: 24px 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 29px;
    color: #000000;
}

.specialistes__subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #979FA8;
}

.specialistes__image img {
    width: 100%;
}

.specialistes-section .swiper-pagination.swiper-dots {
    bottom: 30px;
}

.specialistes-section .swiper-pagination-bullet {
    background: $orange;
}

.specialistes-section .swiper-pagination-bullet-active {
    background: #000;
}

.specialistes-section .swiper-pagination-bullet-active::after {
    border: 1px solid #000;
}

.specialistes-section .swiper-arrows {
    top: 200px;
    left: -80px;
    width: calc(100% + 144px);
}

// CONSULTATION

.cons__inner {
    margin: 15px 0 0;
    display: flex;
    flex-direction: column;
    column-gap: 32px;

    @include breakpoint(lg) {
        flex-direction: row;
    }
}

.cons__block {
    margin: 0 0 30px;

    @include breakpoint(lg) {
        width: 50%;
    }
}

.cons__title {
    margin: 0 0 38px;
}

.cons__text {
    max-width: 490px;
    color: #979FA8;
}

.cons__btn {
    margin: 40px 0 50px;
    max-width: 246px;
}

.cons__inblock {
    display: flex;
    flex-direction: column;
    column-gap: 28px;

    @include breakpoint(xs) {
        flex-direction: row;
    }
}

.cons-tile {
    margin: 0 0 15px;
    padding: 16px;
    border: 5px solid #05256F;
    box-sizing: border-box;

    @include breakpoint(xs) {
        margin: 0
    }
}

.cons-tile span {
    display: block;
}

.tile-icon {
    margin: 4px 4px 0 0;
    font-size: 24px;
    line-height: 24px;
    color: #05256F;
    text-align: right;
}

.tile-number {
    font-weight: bold;
    font-size: 60px;
    line-height: 88px;
    color: $orange;

    @include breakpoint(sm) {
        font-size: 72px;
    }
}

.tile-text {
    margin: 8px 0;
    color: $blue;
}

.cons__subtitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $blue;
    text-transform: uppercase;
}

.cons__post-title {
    margin: 27px 0 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.cons__image {
    margin: 58px 0 0 ;

    @include breakpoint(lg) {
        margin: 35px 0 0 ;
    }
}

// OTHER SERVICES

.other-services-section {
    padding: 60px 0 118px;
    background: linear-gradient(180deg, rgba(215, 215, 215, 0.2) 0%, rgba(246, 246, 246, 0) 100%);
}

.other-s__title {
    margin: 0 0 20px;
    max-width: 285px;

    @include breakpoint(md) {
        max-width: 100%;
    }
    
    @include breakpoint(lg) {
        margin: 0 0 70px;
    }
}

.other-s__btn {
    margin: 0 0 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 192px;
    border: 1px solid #34454F;

    @include breakpoint(lg) {
        margin: 0;
        position: absolute;
        top: 0;
        right: 25px;
    }
}

.other-s__wrapper {

    @include breakpoint(lg) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 28px;
    }
}

.other-s__block {
    background: $blue;
    display: flex;
    flex-direction: column;
    width: 23%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0px 3px 12px 4px rgba(0, 0, 0, 0.05);
}

.other-s__block span {
    display: block;
}

.other-s_content {
    padding: 18px;
}

.other-s_time {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    opacity: 0.75;
}

.other-s_title {
    margin: 11px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: $orange;

    @include breakpoint(md) {
        font-size: 24px;
    }
}

.other-s_price {
    margin: 11px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
}

.other-s_service {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.other-s_image {
    margin-top: auto;
    position: relative;
}

.other-s_image img {
    width: 100%;
}

.other-s_image::after {
    content: "";
    background: linear-gradient(180deg, $blue 0%, rgba(72, 87, 98, 0) 72.54%);
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.other-s_arrow {
    background: $orange;
    position: absolute;
    left: 18px;
    bottom: 18px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 87px;
    cursor: pointer;
}

.other-s_arrow:hover {
    background: #222;
    color: $orange;
}

//////////////////
/// INTERVENTION
//////////////////

.intervention-section {
    padding: 60px 0 70px;
    background: $blue;
    background-size: cover;
    position: relative;
}

.intervention-section::after {
    content: '';
    background: linear-gradient(270deg, rgba(5, 37, 111, 0.58) 11.12%, rgba(5, 37, 111, 0) 47.34%), url('../images/intervention-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.intervention__subtitle {
    color: #F2F2F2;
    text-align: center;
}

.intervention__title {
    margin: 27px 0 60px;
    color: $orange;
    text-align: center;
}

.intervention__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    z-index: 1;

    @include breakpoint(lg) {
        flex-direction: row;
        column-gap: 30px;
        row-gap: unset;
    }
}

.intervention__block {

    @include breakpoint(lg) {
        margin-left: 10px;
        width: 50%;
    }
}

.int-method {
    margin: 0 0 10px;
    display: flex;
    flex-direction: column;
    color: #fff;

    @include breakpoint(sm) {
        flex-direction: row;
        max-width: 490px;
    }
}

.int-method:last-child {
    margin-bottom: 0;
}

.int-block_count {
    margin: 0 auto 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $orange;

    @include breakpoint(sm) {
        margin: 16px 0 0;
        margin-left: 20px;
    }

    @include breakpoint(lg) {
        margin-left: 0;
    }
}

.int-block_count::before {
    content: url('../images/ico].svg');
    position: absolute;
    top: -10px;
    left: -40px;

    @include breakpoint(sm) {
        left: -20px;
    }
}

.int-block_count::after {
    content: url('../images/ico[.svg');
    position: absolute;
    top: -10px;
    right: -40px;
    font-weight: 300;
    font-size: 98px;

    @include breakpoint(sm) {
        right: -20px;
    }
}

.int-block_number {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.int-block_type {
    margin: 8px 0 0;
}

.int-block_desc {

    @include breakpoint(sm) {
        margin-left: 58px;
    }
}

.int-block_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    @include breakpoint(sm) {
        text-align: unset;
    }
}

.int-block_text {
    margin: 17px 0 26px;
    display: inline-block;
    color: #E5E5E5;
    text-align: center;

    @include breakpoint(sm) {
        text-align: unset;
    }
}

.int-wrapper {
    padding: 88px 0 47px;
    width: 100%;
    height: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.int-sign {
    margin: 0 auto;
    max-width: 283px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $orange;
}

.int-phone {
    margin: 30px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;

    @include breakpoint(sm) {
        font-size: 36px;
    }
}

.int-subtext {
    color: #E5E5E5;
    text-align: center;
}

.int-line {
    margin: 31px auto;
    background:#fff;
    display: block;
    width: 1px;
    height: 89px;
}

.int-btn {
    margin: 0 auto;
    display: block;
    max-width: 246px;
}

/////////////
/// GALLERY
/////////////

.gallery-section {
    padding: 77px 0 47px;
}

.gallery-title {
    margin: 0 0 40px;
}

.gallery__slider {
    padding: 0 0 50px;
}

.gallery__image img {
    width: 100%;
}

.gallery-section .swiper-arrows {
    top: 150px;
    left: -80px;
    width: calc(100% + 144px);
}

.gallery-section .swiper-pagination.swiper-dots {
    bottom: 0;
}

.gallery-section .swiper-pagination-bullet {
    background: $orange;
}

.gallery-section .swiper-pagination-bullet-active {
    background: #000;
}

.gallery-section .swiper-pagination-bullet-active::after {
    border: 1px solid #000;
}

////////////////
/// BENEFITS
////////////////

.benefits-section {
    padding: 56px 0 27px;
    background: linear-gradient(180deg, rgba(215, 215, 215, 0.2) 0%, rgba(246, 246, 246, 0) 100%);
}

.benefits__title {
    margin: 35px 0;
}

.benefits__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;

    @include breakpoint(xl) {
        flex-wrap: nowrap;
        justify-content: unset;
        column-gap: 30px;
        row-gap: 0;
    }
}

.benefits__block {
    background-position: center top;
    background-repeat: no-repeat;
    background-color: $blue;
    background-size: cover;
    position: relative;
    height: 488px;

    @include breakpoint(sm) {
        width: 45%;
    }

    @include breakpoint(xl) {
        background-size: unset;
        width: 25%;
    }
}

.benefits__block::before {
    content: '';
    background: linear-gradient(360deg, $blue 50%, rgba(72, 87, 98, 0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.benefits__block:first-child::before {
    background: linear-gradient(360deg, $blue 33.5%, rgba(72, 87, 98, 0) 100%);
}

.benefits__image {
    position: relative;
}

.benefits__image::after {
    content: "";
    background: linear-gradient(360deg, #05256F 33.5%, rgba(72, 87, 98, 0) 100%);
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.benefits__content {
    padding: 268px 18px 18px;
    position: relative;
    z-index: 1;
}

.benefits__content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: $orange;

    @include breakpoint(md) {
        font-size: 24px;
    }
}

.benefits__content-text {
    margin: 24px 0 0;
    display: block;
    color: #fff;
}

/////////////
/// LICENSE
/////////////

.license-section {
    padding: 89px 0 35px;
}

.license-title {
    margin: 0 0 40px;
}

.license__slider {
    padding: 0 0 50px;
}

.license__image img {
    width: 100%;
}

.license-section .swiper-arrows {
    top: 220px;
    left: -80px;
    width: calc(100% + 144px);
}

.license-section .swiper-pagination.swiper-dots {
    bottom: 0;
}

.license-section .swiper-pagination-bullet {
    background: $orange;
}

.license-section .swiper-pagination-bullet-active {
    background: #000;
}

.license-section .swiper-pagination-bullet-active::after {
    border: 1px solid #000;
}

//////////////
/// QUESTION
//////////////

.question-section {
    padding: 38px 0 50px;
    background: linear-gradient(180deg, rgba(215, 215, 215, 0.2) 0%, rgba(246, 246, 246, 0) 100%);
}

.question__title {
    text-align: center;
}

.question__subtitle {
    margin: 28px 0 18px;
    text-align: center;
}

.question__slider {
    padding: 22px 0 40px;
}

.question__block {
    padding: 50px 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 389px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
}

.question-icon {
    background: $orange;
    position: absolute;
    top: -21.5px;
    left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    border-radius: 50px;
}

.question__question {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.question__answer {
    position: relative;
    color: #979FA8;
    display: -webkit-box;
    max-width: 320px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question__link {
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-decoration: underline;
}

.question-section .swiper-arrows {
    top: 320px;
    left: -80px;
    width: calc(100% + 144px);
}

.question-section .swiper-pagination.swiper-dots {
    bottom: 0;
}

.question-section .swiper-pagination-bullet {
    background: $orange;
}

.question-section .swiper-pagination-bullet-active {
    background: #000;
}

.question-section .swiper-pagination-bullet-active::after {
    border: 1px solid #000;
}

////////////////////
/// BOTTOM BANNER
////////////////////

.b-banner-section {
    padding: 61px 20px;
    background: $blue;
    
    @include breakpoint(lg) {
        padding: 61px 77px;
    }
}

.b-banner__wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    color: #fff;

    @include breakpoint(lg) {
        flex-direction: row;
    }
}

.b-banner__left {
    
    @include breakpoint(sm) {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        }

    @include breakpoint(lg) {
        display: block;
    }
}

.b-banner__block {
    margin: 0 auto 28px;
    padding: 45px 20px 20px;
    background-size: cover;
    position: relative;
    height: 275px;
    text-align: center;
    border: 1px solid #6C8393;
    box-sizing: border-box;

    @include breakpoint(sm) {
        margin: 0 0 28px;
        background-size: unset;
        width: 362px;
        height: 385px;
    }
}

.b-banner__block:last-child {
    background: linear-gradient(90deg, $blue 38.4%, rgba(5, 37, 111, 0) 96.55%);
}

.b-banner__block::before {
    content: '';
    background: linear-gradient(90deg, $blue 38.4%, rgba(5, 37, 111, 0) 96.55%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.b-banner__block .b-price {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    z-index: 1;
}

.b-banner__block .b-method {
    margin: 28px 0;
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: $orange;
    z-index: 1;

    @include breakpoint(md) {
        font-size: 24px;
    }
}

.b-banner__block .b-link {
    position: relative;
    text-decoration: underline;
    z-index: 1;
}

.b-banner__right .b-text {
    margin: 0 0 30px;
}

.b-banner__right .b-list-text {
    color: $orange;
}

.b-banner__right .b-list-items {
    margin: 28px 0 24px;
}

.b-banner__right .b-list-items li {
    line-height: 28px;
}

.b-banner__right .b-list-items li::before {
    margin-right: 21px;
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 3px solid #FFB102;
    border-radius: 50%;
    box-sizing: border-box;
}