.price-section {
    padding: 30px 0 70px;

    @include breakpoint(md) {
        padding: 60px 0 70px;
    }
}

.price-section .container {

    @include breakpointMax(md) {
        padding: 0;
    }
}

.price-section h2 {

    @include breakpointMax(md) {
        padding: 0 20px;
    }
}

.price__subtext {
    margin: 40px 0 35px;
    color: #979FA8;

    @include breakpointMax(md) {
        padding: 0 20px;
    }
}

.price-list__title {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

    @include breakpointMax(md) {
        padding: 0 20px;
    }
}

.price-list {
    margin: 0 0 40px;

    @include breakpointMax(md) {
        padding: 0 20px;
    }
}

.price-list li {
    margin-left: 21px;
    position: relative;
    font-size: 16px;
    line-height: 32px;
}

.price-list li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -21px;
    width: 11px;
    height: 11px;
    border: 3px solid #04246E;
    border-radius: 50%;
}

.price__notify {
    margin: 25px 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;

    @include breakpointMax(md) {
        padding: 0 20px;
    }
}

.price__table {
    width: 100%;
}

.price__table th {
    padding: 13px 29px;
    background: $blue;
    height: 47px;
    font-weight: 600;
    color: #fff;
    text-align: left;
}

.price__table td {
    padding: 13px 29px;
    border-top: 1px solid #F2F2F2;
}

.price__table tr:first-child td {
    border-top: none;
}

.price__table tbody tr:nth-child(even) td {

    @include breakpoint(lg) {
        background: #F2F2F2;
    }
}

.price__table th:nth-child(odd) {
    width: 66.666%;
}

.price__table td:nth-child(odd) {
    width: 66.666%;
    color: $blue;
}

.price__table th:nth-child(even),
.price__table td:nth-child(even) {
    width: 100%;

    @include breakpoint(md) {
        margin-left: 30px;
        display: inline-block;
        width: calc(100% - 30px);
    }
}

.price__table summary + * {
    margin: 15px 0;
    padding: 0;
}

.price-list__text {
    margin: 63px 0 25px;

    @include breakpointMax(md) {
        padding: 0 20px;
    }
}

.price__rules {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #04246E;
    text-transform: uppercase;

    @include breakpointMax(md) {
        padding: 0 20px;
    }
}

.price__rules::before {
    content: '\f1c1';
    margin-right: 11px;
    font-family: $icon;
    font-size: 18px;
    line-height: 18px;
    color: red;
}