.service-hero {
    padding: 34px 0;
    background-size: cover;
    position: relative;

    @include breakpoint(md) {
        background: linear-gradient(270deg, #05256F 0%, rgba(5, 37, 111, 0) 13.66%), linear-gradient(90deg, #04246E 52%, rgba(4, 36, 110, 0) 66.42%), url(/upload/iblock/c6c/7b7t05yhraty07dmrgiozbmakqm46uol/service_inner_bg.jpg) no-repeat right;
    }
    
    @include breakpoint(xl) {
        padding: 70px 0 45px;
    }

    @include breakpointMax(md) {
        background: linear-gradient(270deg, #05256F 0%, rgba(5,37,111,0) 13.66%),linear-gradient(90deg, #04246E 44%, rgba(4,36,110,0.5) 100%)!important;
    }
}

.service-hero::before {

    @include breakpoint(md) {
        content: '';
        background: linear-gradient(270deg, #05256F 0%, rgba(5,37,111,0) 16.66%),linear-gradient(90deg, #04246E 53%, rgba(4,36,110,0) 98.42%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @include breakpoint(lg) {
        content: none;
    }
}

.service-hero .breadcrumbs {
    display: none;

    @include breakpoint(md) {
        padding: 0 0 46px;
        background: none;
        display: block;
    }
}

.service-hero .breadcrumbs a {
    line-height: 18px;
}

.hero-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;

    @include breakpoint(md) {
        font-size: 36px;
        line-height: 44px;
    }
}

.hero-subtitle {
    margin: 34px 0 39px;
    max-width: 542px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

.service-section {
    padding: 56px 0 110px;
}

.service-section .container {

    @include breakpointMax(md) {
        padding: 0;
    }
}

.service__wrapper {

    @include breakpoint(lg) {
        display: flex;
        column-gap: 30px;
    }
}

.service__left {

    @include breakpoint(lg) {
        width: 100%;
        max-width: 275px;
    }

    @include breakpoint(xl) {
        max-width: 362px;
    }
}

.service__menu {
    color: #000;
}

.service__menu a {
    font-size: 14px;
}

.service__menu-link {
    margin-bottom: -1px;
    padding: 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D8D8D8;
}

.service__menu-item.active .service__menu-link {
    position: relative;
    border-color: $blue;
    z-index: 2;
}

.service__menu-link .arrow-down {
    padding: 12px;
    cursor: pointer;
}

.service__menu-link .arrow-down::after {
    content: '\f078';
    font-family: $icon;
}

.service__menu-item.open .arrow-down::after {
    content: '\f077';
    font-family: $icon;
}

.service__menu-link a {
    font-weight: 500;
    line-height: 46px;
}

.service__submenu {
    margin: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease;

    @include breakpoint(xl) {
        margin-left: 50px;
    }
}

.service__menu-item.open .service__submenu {
    margin: 12px 0px 24px 15px;
    max-height: 1000px;

    @include breakpoint(xl) {
        margin: 12px 0px 24px 50px;
    }
}

.service__submenu-link {
    line-height: 28px;
}

.service__submenu-link.active {
    font-weight: 600;
    color: $blue;
}

.service__submenu-link:hover {
    color: #6C8393;
}

.service-section .docs__anonymous {
    margin: 40px 0 0;
}

.service__sertificates {
    padding: 0 20px;

    @include breakpoint(md) {
        padding: 0;
    }
}

.service__sertificates-title {
    margin: 30px 0 28px;

    @include breakpoint(md) {
        margin: 52px 0 28px;
    }
}

.service__sertificates-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 18px;

    @include breakpoint(md) {
        column-gap: 30px;
    }
}

.service__sertificates-image {
    width: 20%;

    @include breakpoint(xl) {
        width: 100%;
        max-width: 45.85%;
    }
}

.service__reviews {
    margin: 50px 0 0;
    padding: 0 20px;

    @include breakpoint(md) {
        margin: 80px 0 0;
        padding: 0;
    }
}

.service__reviews-subtitle {
    margin: 30px 0 0;
    max-width: 290px;
    line-height: 17px;
}

.reviews__slider {
    margin: 40px 0 0;
}

.service__reviews-block {
    padding: 0 0 50px;
}

.service__reviews-slide {
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 48px;
        border: 1px solid #D7D7D7;
    }
}

.service__reviews-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}

.service__reviews-list {
    margin: 25px 0 0;
}

.service__reviews-list li {
    margin-left: 21px;
    position: relative;
    font-size: 16px;
    line-height: 32px;
    color: #888888;
}

.service__reviews-list li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -21px;
    width: 11px;
    height: 11px;
    border: 3px solid #04246E;
    border-radius: 50%;
}

.service__reviews-text-title {
    margin: 35px 0 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.service__reviews-text {
    font-size: 14px;
    line-height: 21px;
    color: #888888;
}

.service__reviews .swiper-pagination.swiper-dots {
    bottom: 0;
}

.service__reviews .swiper-pagination-bullet {
    background: $orange;
}

.service__reviews .swiper-pagination-bullet-active {
    background: #000;
}

.service__reviews .swiper-pagination-bullet-active::after {
    border: 1px solid #000;
}

.service__right {

    @include breakpoint(lg) {
        width: 100%;
        max-width: 66.666%;
    }
}

.service__right h2,
.service__right h3,
.service__right h4,
.service__right h5,
.service__right h6,
.service__right p {
    padding: 0 20px;

    @include breakpoint(md) {
        padding: 0;
    }
}

.service-title {
    margin: 40px 0;

    @include breakpoint(lg) {
        margin: 0 0 40px;
    }
}

.service-content-text {
    margin: 0 0 30px;
}

.service-content-list {
    margin: 0 0 50px;
    padding: 0 20px;

    @include breakpoint(md) {
        padding: 0;
    }
}

.service-content-list li {
    margin-left: 21px;
    margin-bottom: 30px;
    position: relative;
    font-size: 14px;
    line-height: 26px;
    color: #222222;

    @include breakpoint(md) {
        font-size: 16px;
        line-height: 32px;
    }
}

.service-content-list li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -21px;
    width: 11px;
    height: 11px;
    border: 3px solid #04246E;
    border-radius: 50%;
}

.content-text {
    color: #979FA8;
}

.service-section .price__table {
    margin: 60px 0 70px;
}

.service-section .price__table td {

    @include breakpointMax(md) {
        padding: 13px 21px;
    }
}

.service-price td:nth-child(odd) {
    color: #222222;
}

.service-price th:nth-child(even),
.service-price td:nth-child(even) {
    margin-left: 6px;
    width: 100%;
    max-width: unset;
}

.service-price th:nth-child(odd) {
    width: 83%;
}

.service-notify {
    padding: 0 20px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #04246E;
    text-align: right;

    @include breakpoint(md) {
        padding: 0;
    }
}

.service__container .consultation-section {
    margin: 45px 0 0;

    @include breakpoint(md) {
        margin: 95px 0 0;
    }
}

.service__container .consultation-wrapper {
    
    @include breakpoint(xl) {
        padding: 52px 48px 10px;
    }
}

.service__container .consultation-title {
    
    @include breakpointMax(md) {
        padding: 0;
    }
}

.service__container .consultation-subtitle {
    
    @include breakpointMax(md) {
        padding: 0;
    }
}

.service__container .cons-agreement{
    
    @include breakpointMax(md) {
        padding: 0;
    }
}

.service__container input {
    padding: 13px 42px 13px 25px;
}

.service__container input::placeholder {
    color: #979FA8;
}

.service-question {

    @include breakpoint(md) {
        margin: 74px 0 0;
    }
}

.service-question__title {
    margin: 0 0 10px;
}

.service-question__slider {
    margin: 35px 0 0;
    padding: 20px 0 45px;
}

.service-question__slider .question__block {
    padding: 70px 20px 45px;

    @include breakpointMax(md) {
        border: none;
    }
}

.service-specialistes__slider {
    padding: 0 20px 50px;

    @include breakpoint(md) {
        padding: 0 0 50px;
    }
}

.service-specialistes__slider .swiper-pagination.swiper-dots {
    bottom: 0;
}