.container

    .reviews-form-wrapper

        h2.reviews-form-title Оставить отзыв

        form.reviews-form

            .reviews-form-col

                .reviews-input-wrapper
                    label Имя
                    .reviews-input
                        input.input-style(type="text" name="name" placeholder="Введите ваше имя")

                .reviews-input-wrapper
                    label Город
                    .reviews-input
                        input.input-style(type="text" name="city" placeholder="Введите название города")

                //- .reviews-input-wrapper
                //-     label Возраст употребляющего (в годах)?
                //-     .reviews-input-btn
                //-         button#minusBtn
                //-             i.far.fa-minus
                //-         input#inputAge.input-style(type="number" min="16" max="99" value="18" readonly)
                //-         button#plusBtn
                //-             i.far.fa-plus

            .reviews-form-col

                .reviews-input-wrapper
                    label Текст отзыва
                    textarea(type="text" name="text" placeholder="Введите текст отзыва")

                p Заполните все поля и отправьте отзыв
                button.reviews-button.button-style.button-style--orange(type="submit") Оставить отзыв о работе центра