.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(lg) {
        justify-content: unset;
    }
}

.header__logo {
    position: relative;
    width: 100%;
    max-width: 360px;

    @include breakpoint(xl) {
        max-width: 430px;
    }
}

.header__logo img {
    width: 100%;
}

.header__logo span {
    display: none;

    @include breakpoint(xs) {
        position: absolute;
        right: 23px;
        bottom: 15px;
        display: block;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #222222;
    }

    @include breakpoint(lg) {
        bottom: 30px;
    }

    @include breakpoint(xl) {
        right: 57px;
        bottom: 34px;
    }
}

.header__contacts {
    margin: 15px auto 0;
    display: none;

    @include breakpoint(lg) {
        display: block;
    }
}

.header__contacts i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 18px;
    color: $lightOrange;
}

.header__contacts span {
    margin: 10px 0 0;
    margin-left: 28px;
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #979FA8;
}

.header-address p {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    cursor: default;
}

.header-phone {
    margin: 26px 0 0;
}

.header-phone a {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.header__buttons {
    display: none;

    @include breakpoint(sm) {
        margin: 0 7px;
        display: block;
        max-width: 198px;
    }

    @include breakpoint(md) {
        margin: 0;
        display: flex;
        max-width: unset;
    }

    @include breakpoint(lg) {
        display: block;
        max-width: 198px;
    }
}

button.button-style.button-style--blue {

    @include breakpoint(sm) {
        margin: 11px 0 0;
    }

    @include breakpoint(md) {
        margin: 0;
    }

    @include breakpoint(lg) {
        margin: 11px 0 0;
    }
}

.header__buttons button {

    @include breakpoint(md) {
        margin: 0 10px;
        padding: 5px 22px;
        height: 60px;
        max-width: 160px;
    }

    @include breakpoint(lg) {
        margin: 0;
        padding: 11px 32px;
        height: 40px;
        max-width: 198px;
    }
}

.header__menu-mobile {
    margin-left: 20px;
    font-size: 28px;

    @include breakpoint(lg) {
        display: none;
    }
}

.header__nav {
    position: relative;
    border-top: 1px solid #DEF2FD;
}

.nav__inner {
    padding: 20px 0 50px;
    position: relative;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);

    @include breakpoint(lg) {
        margin: 0;
        padding: 0;
        position: initial;
        width: auto;
    }
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(lg) {
        flex-direction: row;
    }
}

.navbar__menu {
    position: relative;
}

.navbar__submenu {
    padding-left: 15px;
    display: none;
    z-index: 1;

    @include breakpoint(lg) {
        padding: 50px 55px 20px;
        background: #F6F6F6;
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        flex-direction: column;
        column-gap: 25px;
        flex-wrap: wrap;
        min-width: 905px;
        max-height: 444px;
        text-transform: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease;
        cursor: default;
    }
}

.menu-item {
    font-weight: 600;
    font-size: 12px;
    color: #000000;

    @include breakpoint(lg) {
        font-weight: 500;
        font-size: 14px;
    }
}

.menu-item_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item_link {
    position: relative;
    line-height: 28px;
}

.down-arrow {

    @include breakpoint(lg) {
        display: none;
    }
}

.down-arrow::after {
    content: '\f078';
    font-family: $icon;

    @include breakpoint(lg) {
        content: none;
    }
}

.menu-subcat {
    margin: 10px 0 0;
    display: none;

    @include breakpoint(lg) {
        margin: 18px 0 0;
        display: block;
    }
}

.menu-subcat li:last-child {
    margin: 0 0 20px;
}

.menu-subcat_link {
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;

    @include breakpoint(lg) {
        font-size: 13px;
    }
}

.menu-subcat_link:hover {
    color: #04246E;
}

.navbar__item {
    padding: 15px 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    @include breakpoint(lg) {
        padding: 15px 10px;
        margin-right: 51px;
    }

    @include breakpoint(xl) {
        margin-right: 71px;
        font-size: 16px;
    }
}

.navbar__item.active {

    @include breakpoint(lg) {
        border-top: 3px solid $blue;
    }
}

.navbar__item-submenu {
    padding-bottom: 0;

    @include breakpoint(lg) {
        padding-left: 16px;
        padding-right: 34px;
        padding-bottom: 15px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
}

.navbar__item-submenu:hover {

    @include breakpoint(lg) {
        background: #F6F6F6;
    }
}

.navbar__item-submenu:hover  .navbar__submenu {

    @include breakpoint(lg) {
        opacity: 1;
        visibility: visible;
    }
}

.navbar__item-submenu::before {

    @include breakpoint(lg) {
        content: '\f0c9';
        margin-right: 20px;
        font-family: $icon;
        font-size: 14px;
        line-height: 14px;
        color: #04246E;
    }
}

.nav__item-menu {
    margin: 0 0 15px;
    position: relative;
    display: block;
    min-width: 248px;
    text-align: center;

    @include breakpoint(lg) {
        margin: 0;
        display: inline-block;
        min-width: unset;
        text-align: unset;
    }
}

.nav__item-menu::after {
    content: "\f078";
    position: absolute;
    right: 20px;
    font-family: $icon;

    @include breakpoint(lg) {
        content: none;
    }
}

.header__top-mobile {

    @include breakpoint(sm) {
        text-align: center;
    }

    @include breakpoint(lg) {
        display: none;
    }
}

.header__top-mobile .header__buttons {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(sm) {
        display: none;
    }
}

.header__top-mobile .header__buttons button {
    margin: 5px 0;
}

.header__top-mobile .header__contacts {
    display: block;
    max-width: 292px;

    @include breakpoint(sm) {
        max-width: unset;
    }
}

.header__top-mobile .header-address p {
    max-width: 200px;

    @include breakpoint(sm) {
        max-width: unset;
    }
}