---
title: Фотогалерея - Психотерапевтический центр
page_about: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Фотогалерея', 'О центре', 'Фотогалерея')

    section.about-section

        .container

            .about__wrapper

                .about__left

                    ul.about__cat
                        li.about__cat-item
                            a.about__cat-link(href="about.html") О центре
                        li.about__cat-item
                            a.about__cat-link(href="about-history.html") История
                        li.about__cat-item.active
                            a.about__cat-link Фотогалерея
                        li.about__cat-item
                            a.about__cat-link(href="about-license.html") Лицензии
                        li.about__cat-item
                            a.about__cat-link(href="about-release.html") Наши выпуски
                        li.about__cat-item
                            a.about__cat-link(href="about-article.html") Статьи
                        li.about__cat-item
                            a.about__cat-link(href="about-news.html") Новости
                        li.about__cat-item
                            a.about__cat-link(href="about-faq.html") Вопрос-ответ
                        li.about__cat-item
                            a.about__cat-link(href="about-vacancies.html") Вакансии

                .about__right

                    .about-gallery__wrapper

                        img.cpLightimg(src="assets/images/about-1.jpg", alt="img")
                        img.cpLightimg(src="assets/images/about-2.jpg", alt="img")
                        img.cpLightimg(src="assets/images/about-3.jpg", alt="img")
                        img.cpLightimg(src="assets/images/about-4.jpg", alt="img")
                        img.cpLightimg(src="assets/images/about-5.jpg", alt="img")
                        img.cpLightimg(src="assets/images/about-6.jpg", alt="img")
                        img.cpLightimg(src="assets/images/about-7.jpg", alt="img")
                        img.cpLightimg(src="assets/images/about-8.jpg", alt="img")
                        img.cpLightimg(src="assets/images/about-9.jpg", alt="img")

    // CONSULTATION
    section.consultation-section.invert-section
        include components/_consultation-blue
