---
title: О центре - Психотерапевтический центр
page_about: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('О центре', 'О центре', 'О центре')

    section.about-section

        .container

            .about__wrapper

                .about__left

                    ul.about__cat
                        li.about__cat-item.active
                            a.about__cat-link О центре
                        li.about__cat-item
                            a.about__cat-link(href="about-history.html") История
                        li.about__cat-item
                            a.about__cat-link(href="about-gallery.html") Фотогалерея
                        li.about__cat-item
                            a.about__cat-link(href="about-license.html") Лицензии
                        li.about__cat-item
                            a.about__cat-link(href="about-release.html") Наши выпуски
                        li.about__cat-item
                            a.about__cat-link(href="about-article.html") Статьи
                        li.about__cat-item
                            a.about__cat-link(href="about-news.html") Новости
                        li.about__cat-item
                            a.about__cat-link(href="about-faq.html") Вопрос-ответ
                        li.about__cat-item
                            a.about__cat-link(href="about-vacancies.html") Вакансии

                .about__right

                    h2.about__title Центр «ДАР» - клиника лечения алкоголизма
                    p.about__text Психотерапевтический центр «ДАР» основан в 1989 году по инициативе заслуженного врача СССР А.Р. Довженко. Впервые в Москве именно в нашей наркологической клинике стали избавлять людей от алкогольной и табачной зависимостей в амбулаторных условиях. «ДАР» работает ежедневно, в любой выходной или праздничный день вы можете приехать на консультацию. Основными направлениями нашей работы являются лечение:

                    h2.about__list-title Основными направлениями нашей работы являются лечение:
                    ul.about__list
                        li.about__list-item алкогольной зависимости
                        li.about__list-item табакокурения
                        li.about__list-item игромании
                        li.about__list-item неврозов
                        li.about__list-item депрессий
                        li.about__list-item стрессов
                        li.about__list-item коррекция веса

                    p.about__text Наши специалисты являются врачами высшей категории. 25 лет успешной работы, сотни тысяч спасенных жизней позволяют нам с уверенностью сказать, что врачи нашей клиники - настоящие профессионалы своего дела, которые ежедневно избавляют людей от различных зависимостей. 70 % наших пациентов приходят к нам по рекомендации родственников или друзей, которые уже получили нашу помощь и, по достоинству оценив результат, посоветовали своим близким.
                      br
                      br
                      | Эффективность работы клиники «ДАР» обоснована тем, что команда психологов, психотерапевтов, психиатров и наркологов лечат не следствия этих заболеваний, а их причину.
                      br
                      br
                      | Первым методом, который лег в основу нашей работы является метод кодирования А.Р. Довженко. И сегодня он является признанным и рекомендованным Минздравом РФ методом лечения алкогольной и табачной зависимости. Сегодня наши врачи, некоторые из которых являются учениками А.Р. Довженко, с успехом практикуют его в «ДАРе», помогая сотням тысяч людей вернуться к нормальной жизни.
                      br
                      br
                      | Помимо метода кодирования по А.Р. Довженко, врачи нашей клиники разработали ряд авторских методик, которые также зарекомендовали себя с положительной стороны. Метод «снятия тяги», «метод коррекции веса», «метод лечения неврозов», и «метод лечения игромании» позволяют нам день ото дня дарить людям новую жизнь.
                      br
                      br
                      | Психотерапия – один из самых эффективных методов борьбы с такими недугами, как алкоголизм и курение, неврозы и игромания, а также лишний вес.
                      br
                      br
                      | Успех лечения можно объяснить профессиональным комплексным подходом. При необходимости врачом рекомендуется поддерживающая медикаментозная терапия, проводится консультация родственников, позволяющая родным понять, как поддержать больного в период реабилитации.
                      br
                      br
                      | За долгие годы работы наша клиника обрела свои традиции и обычаи, выработала философию, которой неукоснительно следует каждый сотрудник центра «ДАР». Прежде всего она заключается в том, что каждый, обратившийся к нам за помощью – индивидуальность, уникальная личность, чьи проблемы не могут остаться незамеченными. Кодирование в нашей клинике по методу Довженко уже помогло многим, лечение не раз доказывало свою эффективность.
                      br
                      br
                      | На сегодняшний день психотерапевтические методики лечения зависимостей и расстройств, которые практикуются в центре «ДАР», являются наиболее эффективными для людей, которые не могут или не хотят прибегать к лечению в условиях стационара.
                      br
                      br
                      | Обращайтесь в нашу клинику лечения алкоголизма и мы поможем вам достигнуть полного эмоционального комфорта, гармонии и душевного равновесия.

    // CONSULTATION
    section.consultation-section.invert-section
        include components/_consultation-blue