---
title: О центре - Психотерапевтический центр
page_about: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('История', 'О центре', 'История')

    section.about-section

        .container

            .about__wrapper

                .about__left

                    ul.about__cat
                        li.about__cat-item
                            a.about__cat-link(href="#") О центре
                        li.about__cat-item.active
                            a.about__cat-link(href="#") История
                        li.about__cat-item
                            a.about__cat-link(href="#") Фотогалерея
                        li.about__cat-item
                            a.about__cat-link(href="#") Лицензии
                        li.about__cat-item
                            a.about__cat-link(href="#") Наши выпуски
                        li.about__cat-item
                            a.about__cat-link(href="#") Статьи
                        li.about__cat-item
                            a.about__cat-link(href="#") Новости
                        li.about__cat-item
                            a.about__cat-link(href="#") Вопрос-ответ
                        li.about__cat-item
                            a.about__cat-link(href="#") Вакансии

                .about__right

                    h2.about__title В начале пути

                    .about-h-row

                        p.about-h-year 1984
                        p.about-h-text Заслуженный врач СССР А.Р. Довженко, получив одобрение Минздрава, открывает клинику по лечению алкоголизма в г. Феодосия, где он не только лечит пациентов, но и занимается научной работой, а также обучением врачей-наркологов новому методу избавления от алкогольной зависимости. Именно так началась борьба с алкоголизмом, который стал одной из самых серьезных проблем современности.

                    .about-h-row
                        p.about-h-year 1985-1988
                        p.about-h-text За прошедшие годы метод кодирования по А.Р. Довженко зарекомендовал себя как один из самых эффективных способов лечения алкоголизма. По результатам исследований 98 человек из 100, обратившихся в клинику, прекращали пить и полностью избавлялись от этого заболевания. Слава о методе распространилась по всему СССР, поток людей был настолько велик, что, по инициативе А.Р. Довженко, был открыт еще один центр в г. Москве, чтобы продолжать борьбу с алкоголизмом.

                    .about-h-row
                        p.about-h-year 1989
                        p.about-h-text В Москве, под руководством Зелинской З.И. начал свою работу центр по лечению алкогольной зависимости. Единогласно было принято решение о том, что называться он будет центр «ДАР» в честь врача, по инициативе которого он был открыт, Довженко Александра Романовича. Также это имя отражает философию центра, который был создан для того, чтобы дарить людям новую свободную жизнь без алкоголя. Сначала наш центр стал принимать людей несколько раз в неделю, однако стало очевидно, что людям с такой проблемой как алкогольная зависимость, помощь может понадобиться в любой день и в любое время. Поэтому центр «ДАР» стал работать без выходных и праздников, 363 дня в году. Отдыхаем мы только 31 декабря и 1 января.

                    .about-h-row
                        p.about-h-year 1989 – 2011
                        p.about-h-text За годы усердной работы центр «ДАР» вернул к нормальной жизни более миллиона человек. Коллектив наших врачей, среди которых есть и ученики А.Р. Довженко, не менялся с момента основания центра. Это позволяет нам накапливать опыт, хранить традиции и добиваться впечатляющих результатов в лечении алкогольной зависимости.

                    h2.about__title В наши дни…

                    .about-h-row
                        p.about-h-year 2011-2013 года…
                        p.about-h-text Более того за годы успешной работы наши врачи разработали ряд авторских методик, которые позволили лечить не только алкогольную зависимость, но и табакокурение, игроманию, неврозы, а также заниматься коррекцией веса. Философия нашего центра такова, что каждый человек, пришедший к нам, уникален, поэтому и метод лечения и доктор, который будет с ним работать, должен быть подобран индивидуально. Именно это позволяет нам достигать столь высоких результатов и помогать почти всем, обратившимся к нам людям. Поэтому сегодня в центре «ДАР» применяется как кодирование, так и другие методики, созданные нашими врачами. В 2011 году наш центр переехал по адресу: ул. Дубининская, д. 57, строение 2, офис 101. После этого появилось большое количество недобросовестных компаний, которые, используя наше доброе имя и годами заработанную репутацию выдают себя за нас. Если вы хотите обратиться в наш центр, будьте бдительны, мы работаем только по этому адресу. Также мы готовы предоставить вам документы, подтверждающие, что мы существуем с 1989 года.

    // CONSULTATION
    section.consultation-section.invert-section
        include components/_consultation-blue
