---
title: ДАР - Психотерапевтический центр
---

extends includes/_page

block main

    // HERO SECTION
    section.hero-section

        .cat-hero(style="background: linear-gradient(270deg, #05256F 0%, rgba(5, 37, 111, 0) 13.66%), linear-gradient(90deg, #04246E 52%, rgba(4, 36, 110, 0) 66.42%), url(assets/images/category-hero.jpg) no-repeat right;")
            include components/_breadcrumbs
            +breadcrumbs('', 'Алкоголизм')

            .container

                h2.hero-title.cat-hero-title Лечение алкоголизма: путь к трезвой жизни
                p.hero-subtitle Развитие алкогольной зависимости напрямую связано с генетическими и психологическими факторами. На физиологическом уровне зависимость проявляется, когда этанол встраивается в обмен веществ. То есть мозгом спиртное воспринимается, как вещество, необходимое для жизнедеятельности организма. Пагубное пристрастие вызывает тотальную перестройку личности, формирует зависимое поведение.
                .hero__action
                    button#actionBtn.button-style.button-style--orange Записаться на приём

    // CATEGORY PRICES
    section.cat-prices-section

        .container

            h2.cat-prices__title Цены на лечение зависимости

            .cat-prices__wrapper

                .cat-prices__block
                    h3.cat-block__title Стационар: Стандарт
                    p.cat-block__price 5 000 ₽
                    ul.cat-block__list
                        li Осмотр, диагностика, кардиограмма (при необходимости)
                        li Полное обеспечение необходимыми лекарствами
                        li Постоянное наблюдение специалистов
                        li Палата на 6 человек
                        li Двухразовое питание
                    button.button-style.button-style--orange.cat-prices__btn Записаться на приём

                .cat-prices__block
                    h3.cat-block__title Стационар: Люкс
                    p.cat-block__price 10 000 ₽
                    ul.cat-block__list
                        li Осмотр, диагностика, кардиограмма (при необходимости)
                        li Полное обеспечение необходимыми лекарствами
                        li Постоянное наблюдение специалистов
                        li Палата на 2 человек
                        li Трехразовое питание
                        li Бесплатный Wi-Fi
                        li Наличие телевизора в палате
                        li Персональный лечащий врач
                    button.button-style.button-style--orange.cat-prices__btn Записаться на приём

                .cat-prices__block
                    h3.cat-block__title Реабилитация: Стандарт
                    p.cat-block__price 4 000 ₽
                    ul.cat-block__list
                        li Комната на 4 человека
                        li Сбалансированное пятиразовое питание
                        li Наличие телевизора
                        li Интервенция(при необходимости)
                        li Местоположение центра в курортной зоне
                    button.button-style.button-style--orange.cat-prices__btn Записаться на приём

                .cat-prices__block
                    h3.cat-block__title Реабилитация: Люкс
                    p.cat-block__price 10 000 ₽
                    ul.cat-block__list
                        li Комната на 2-3 человека
                        li Сбалансированное пятиразовое питание
                        li Индивидуальная терапия
                        li Наличие бани и тренажерного зала
                        li Наличие телевизора
                        li Интервенция(при необходимости)
                        li Местоположение центра в курортной зоне
                    button.button-style.button-style--orange.cat-prices__btn Записаться на приём

    // CATEGORY TYPES
    section.types-section

        .container

            h2.types__title Виды лечения алкоголизма

            .types__wrapper

                .types__link
                    a(href="#") Кодирование

                .types__link
                    a(href="#") Кодирование по методу Довженко

                .types__link
                    a(href="#") Анонимное лечение

                .types__link
                    a(href="#") Лечение гипнозом

                .types__link
                    a(href="#") Конфигуративный метод

                .types__link
                    a(href="#") Лечение женского алкоголизма

                .types__link
                    a(href="#") Лечение пивного алкоголизма

    // EVOLUTION CONTENT
    section.evolution-section

        .container

            .evolution__info
                p Врач, проверивший статью: <b>Фамилия Имя Отчество</b>
                p Дата обновления: 1 Декабря 2021


            .evolution__wrapper

                .docs__anonymous
                    p.docs__anonymous-title Мы гарантируем анонимность!
                    p.docs__anonymous-text Позвоните по телефону <a href="tel:+74951860563">+7 (495) 186-05-63</a> или оставьте заявку онлайн
                    button.anonymous-button.button-style.button-style--orange Записаться на приём

                .evolution__content
                    h2 Как развивается алкозависимость, особенности терапии
                    small Зависимость от алкоголя развивается медленно, длительное время оставаясь незаметной для окружающих. У многих пациентов, обратившихся к врачу по поводу лечения алкоголизма анонимно, уже сформирована тяжелая физиологическая и психологическая зависимость от алкоголя. Для терапии такой патологии требуется комплексный, продуманный подход.
                    p Лечение заболевания включает 3 последовательных этапа – детоксикацию (очистку), реабилитацию, постреабилитационную поддержку. Важно пройти полноценное лечение, не пропуская ни одного из этапов. Только тогда можно добиться успешных результатов анонимного лечения от алкоголизма.
                    h4 Рассмотрим каждый из этапов терапии алкозависимости подробно:
                    ul
                        li Детоксикация
                            p Выведение токсинов этанола и устранение абстиненции – начальный этап, нормализующий обменные процессы в организме, улучшающий сон и психо-эмоциональное состояние. Проведение процедур связано с внутривенным введением препаратов и физиологических растворов при помощи капельниц. В основном такие процедуры проводятся в стационаре. В исключительных случаях, если нет угрозы жизни пациента, допускается применение амбулаторных вариантов для лечения алкоголизма на дому анонимно. Проведение детоксикации осуществляется в течение 3-5 дней. Применение ускоренных интенсивных методик позволит привести человека в работоспособное состояние за 1-2 суток. При этом врачи для интенсивного выведения этанола и его токсинов используют гемосорбацию, плазмаферез.
                        li Реабилитация
                            p Проведение детоксикации не избавляет от зависимости. Поэтому следующий шаг – преодоление психологической тяги к спиртному. Для решения этой задачи применяют амбулаторные или стационарные реабилитационные программы, реализуемые в наркоцентрах. Эффективность каждой из программ довольно высокая, но особенно действенным оказывается когнитивно-поведенческий подход, подкрепленный медикаментозной поддержкой.
                              br
                              br
                              |С больным работают психотерапевты, наркологи проводят медикаментозную коррекцию остаточных явлений. При анонимном лечении от алкоголя большое значение отводится работе с родными для предотвращения созависимости, корректировки внутрисемейных отношений. Продолжительность периода реабилитации – 6-12 месяцев. В течение этого времени пациент под контролем специалистов «проживает» все ситуации, которые ранее вели к запою.
                        li Постреабилитационная поддержка
                            p Пролечившись от алкоголизма анонимно в стационаре, пациент возвращается в привычную жизнь. Чтобы не случилось срыва, врачи рекомендуют посещение постреабилитационных групп, где можно научиться даже в проблемных ситуациях держать свое поведение под контролем.

    // VIDEO
    section.category-video-section

        .container

            iframe(width="100%" height="645px" src="https://www.youtube.com/embed/Rk_3apcCKe0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

    // QUESTION
    section.question-section.gradient-sec

        .container

            h2.section-title.question__title Ответы на часто задаваемые вопросы
            p.question__subtitle Наши специалисты ответят на любой вопрос на бесплатной консультации

            .swiper.question__slider

                .swiper-wrapper

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Мой сын принимает героин. Пробовала говорить с ним – любые попытки завести речь о лечении встречает в штыки. Что делать? Можно ли у вас лечить его принудительно?
                        p.question__answer Принудительное лечение – крайняя мера, пойти на которую можно лишь в нескольких случаях, предусмотренных законом. Например, если наркоман представляет...ольких случаях, предусмотренных законом. Например, если наркоман представля
                        a.question__link(href="#") >>

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Увидел у вас на сайте, что вы практикуете программу «12 шагов». Что это такое? Слышал,  это связано с религией – это так?
                        p.question__answer «12 шагов» — последовательная программа программа духовного восстановления, в которой сами наркоманы или алкоголики помогают друг другу исцелиться от болезни помогают друг другу исцелиться.
                        a.question__link(href="#") >>

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Жена сказала, что уйдет, если не брошу пить. Сам я бросить не могу, пробовал неоднократно. Сможете ли вы сделать так, чтобы я больше не пил?
                        p.question__answer Излечение от алкогольной зависимости в большей степени зависит от Вас и Вашего желания действительно прекратить принимать спиртное. Если Вы понимаете понимаете понимаете понимаете.
                        a.question__link(href="#") >>

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Мой сын принимает героин. Пробовала говорить с ним – любые попытки завести речь о лечении встречает в штыки. Что делать? Можно ли у вас лечить его принудительно?
                        p.question__answer Принудительное лечение – крайняя мера, пойти на которую можно лишь в нескольких случаях, предусмотренных законом. Например, если наркоман представляет...
                        a.question__link(href="#") >>

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Увидел у вас на сайте, что вы практикуете программу «12 шагов». Что это такое? Слышал,  это связано с религией – это так?
                        p.question__answer «12 шагов» — последовательная программа духовного восстановления, в которой сами наркоманы или алкоголики помогают друг другу исцелиться от болезни.
                        a.question__link(href="#") >>

                .swiper-pagination.swiper-dots

            .swiper-arrows
                .swiper-button.button-prev
                    i.far.fa-arrow-left
                .swiper-button.button-next
                    i.far.fa-arrow-right

    // SPECIALISTES
    section.specialistes-section

        .container

            h2.section-title.specialistes-title Наши специалисты

            .swiper.specialistes__slider

                .swiper-wrapper

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-1.jpg", alt="img")
                        p.specialistes__title Гонтовой Александр Александрович
                        span.specialistes__subtitle Психиатр-нарколог, психотерапевт. Ученик А. Р. Довженко.

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-2.jpg", alt="img")
                        p.specialistes__title Кропотова Татьяна Сергеевна
                        span.specialistes__subtitle 2006 г. окончила Самарский государственный медицинский университет по специальности «Лечебное дело». <br><br>Первичный прием и лечение пациентов с алкогольной зависимостью

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-3.jpg", alt="img")
                        p.specialistes__title Баласанов Рафаэль Владимирович
                        span.specialistes__subtitle Баласанов Р. В. Психиатр-нарколог, психолог-психотерапевт. Врач высшей категории. Ведущий специалист в области лечения алкогольной и никотиновой зависимостей, коррекции веса.

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-4.jpg", alt="img")
                        p.specialistes__title Прилепский Дмитрий Вадимович
                        span.specialistes__subtitle Прилепский Д. В. Психиатр-нарколог.В 1992 году окончил Горьковский медицинский институт. <br><br>В «Психотерапевтическом центре «ДАР» работает с 1995 года.

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-4.jpg", alt="img")
                        p.specialistes__title Прилепский Дмитрий Вадимович
                        span.specialistes__subtitle Прилепский Д. В. Психиатр-нарколог.В 1992 году окончил Горьковский медицинский институт. <br><br>В «Психотерапевтическом центре «ДАР» работает с 1995 года.

                .swiper-pagination.swiper-dots

            .swiper-arrows
                .swiper-button.button-prev
                    i.fal.fa-arrow-left
                .swiper-button.button-next
                    i.fal.fa-arrow-right

    // CATEGORY FEATURES
    section.category-features

        .container

            h2.cat-features__title Почему надо оставить заявку?
            p.cat-features__subtitle То, чем мы гордимся и почему сотни пациентов выбрали нашу клинику!

            .cat-features__wrapper

                .cat-features__block
                    .features__img
                        img(src="assets/images/certificate.png", alt="img")
                    p.features__title Медицинская сертификация и полная документация
                    p.features__info Клиент после визита медика будет чувствовать себя лучше 100%

                .cat-features__block
                    .features__img
                        img(src="assets/images/first-aid-box.png", alt="img")
                    p.features__title Медицинская сертификация и полная документация
                    p.features__info Клиент после визита медика будет чувствовать себя лучше 100%

                .cat-features__block
                    .features__img
                        img(src="assets/images/award.png", alt="img")
                    p.features__title Медицинская сертификация и полная документация
                    p.features__info Клиент после визита медика будет чувствовать себя лучше 100%

                .cat-features__block
                    .features__img
                        img(src="assets/images/shield.png", alt="img")
                    p.features__title Медицинская сертификация и полная документация
                    p.features__info Клиент после визита медика будет чувствовать себя лучше 100%

                .cat-features__block
                    .features__img
                        img(src="assets/images/to-do-list.png", alt="img")
                    p.features__title Медицинская сертификация и полная документация
                    p.features__info Клиент после визита медика будет чувствовать себя лучше 100%

                .cat-features__block
                    .features__img
                        img(src="assets/images/location.png", alt="img")
                    p.features__title Медицинская сертификация и полная документация
                    p.features__info Клиент после визита медика будет чувствовать себя лучше 100%

                .cat-features__block
                    .features__img
                        img(src="assets/images/wallet.png", alt="img")
                    p.features__title Медицинская сертификация и полная документация
                    p.features__info Клиент после визита медика будет чувствовать себя лучше 100%

    // METHODS SECTION
    section.method-section

        .container

            h2 Методы и способы ананимной терапии алкоголизма

            ul
                li Психотерапия
                    p Психотерапевтические методики позволяют сформировать новые, здоровые привычки. У человека меняется отношение к спиртному. Больной осознанно желает вести трезвый образ жизни, учится преодолевать болезненную тягу к алкоголю. В частной наркологической клинике «Похмельная служба» используются наиболее эффективные методики когнитивно-поведенческой школы.
                li Кодирование
                    p Под кодированием понимается внушенный запрет на алкоголь. В подсознание больного установка вводится при ясном либо измененном сознании. Болезненная тяга к спиртному таким образом устраняется на довольно продолжительное время – до 1 года. Метод довольно популярен и доступен в применении, однако имеет серьезные противопоказания к применению, которые определяет врач.

    // CONSULTATION
    section.consultation-section.category-consultation.gradient-sec
        include components/_consultation

    // METHODS OTHER SECTION
    section.method-section.method-other

        .container

            h2 Другие методы

            ul
                li Инъекции
                    p Внутривенно зависимому вводится препарат, в основе которого вещество – дисульфирам. Это вещество накапливается в тканях и абсолютно безвредно для здоровья, пока человек не употребляет алкоголь. При попадании этанола в организм запускается действие препарата. У больного может возникнуть учащенное сердцебиение и даже остановка дыхания. Альтернатива дисульфираму – препарат налтрексон. Отличается более щадящим действием – блокирует приятное чувство опьянения, не представляет угрозы жизни для пациента.
                li Имплантация
                    p При анонимном лечении от алкоголизма врач может предложить больному вживить под кожу специальную капсулу или таблетку. Если человек примет алкоголь, то капсула запускает неприятные реакции – удушье, тошноту, резкие приливы жара.
                li Комбинированные процедуры
                    p Сочетание психотерапии и медикаментозных методик создает двойной блокирующий эффект, считается наиболее действенным способом устранения алкогольной зависимости. Несовместимость спиртного и введенного пациенту лекарственного средства с помощью гипноза усиливает установку на трезвость. Но любая, самая эффективная, терапия не даст пожизненного эффекта. Поэтому задача пациента и его окружения состоит в том, чтобы с помощью психотерапии и реабилитационных программ наладить жизнь так, чтобы тяга к спиртному не вернулась.
                        br
                        br
                        |Анонимное лечение алкоголизма в наркологической клинике «Похмельная служба» позволит избавиться от патологической тяги к алкоголю, вернуть человека к трезвому образу жизни.
                        br
                        br
                        |Если у вас возникли вопросы, звоните. Работаем круглосуточно, телефонные консультации – бесплатн

    // REVIEWS
    section.testimonial-section

        .container

            h2.testimonial__title Отзывы о нашей работе
            p.testimonial__subtitle Вот что говорят посетители нашего центра и их родные

            .swiper.testimonial__slider

                .swiper-wrapper

                    .swiper-slide.testimonial__slide
                        .testimonial__author
                            .testimonial__avatar
                                img(src="assets/images/businesswoman.png", alt="img")
                            .testimonial__personal
                                p.testimonial-name Иванова Анна Ивановна
                                ul.testimonial-list
                                    li Мытищи
                                    li 45 лет
                                    li Наркомания сына
                        p.testimonial__text-title Текст отзыва:
                        p.testimonial__text Сын недавно подсел на баклофен. Его поведение стало резко меняться: я поняла, что с его психикой происходит что-то неладное. Когда сыну стало плохо, вызвала наркологов на дом. К счастью, им удалось быстро нормализовать его самочувствие. Нарколог провел с сыном беседу наедине, и случилось просто какое-то чудо! Он согласился пройти лечение. Я не знаю, какими словами выразить мою благодарность, ведь мой ребенок уже год ведет здоровый образ жизни и снова стал нормальным человеком.

                    .swiper-slide.testimonial__slide
                        .testimonial__author
                            .testimonial__avatar
                                img(src="assets/images/businessman.png", alt="img")
                            .testimonial__personal
                                p.testimonial-name Макарин Павел Иванович
                                ul.testimonial-list
                                    li Москва
                                    li 55 лет
                                    li Запойный алкоголизм
                        p.testimonial__text-title Текст отзыва:
                        p.testimonial__text Проходил лечение от алкоголизма в этой клинике. Понял, что все плохо, только когда жена с детьми ушла и с работы выгнали. Долго собирался, но обратился за помощью. Лечение не быстрое, мне понадобилось 3 месяца, чтобы избавиться от зависимости. Но оно того стоит – и времени, и денег. Персонал и врачи в клинике очень вежливые и тактичные, всегда поддерживают.

                    .swiper-slide.testimonial__slide
                        .testimonial__author
                            .testimonial__avatar
                                img(src="assets/images/businesswoman.png", alt="img")
                            .testimonial__personal
                                p.testimonial-name Иванова Анна Ивановна
                                ul.testimonial-list
                                    li Мытищи
                                    li 45 лет
                                    li Наркомания сына
                        p.testimonial__text-title Текст отзыва:
                        p.testimonial__text Сын недавно подсел на баклофен. Его поведение стало резко меняться: я поняла, что с его психикой происходит что-то неладное. Когда сыну стало плохо, вызвала наркологов на дом. К счастью, им удалось быстро нормализовать его самочувствие. Нарколог провел с сыном беседу наедине, и случилось просто какое-то чудо! Он согласился пройти лечение. Я не знаю, какими словами выразить мою благодарность, ведь мой ребенок уже год ведет здоровый образ жизни и снова стал нормальным человеком.

                    .swiper-slide.testimonial__slide
                        .testimonial__author
                            .testimonial__avatar
                                img(src="assets/images/businessman.png", alt="img")
                            .testimonial__personal
                                p.testimonial-name Макарин Павел Иванович
                                ul.testimonial-list
                                    li Москва
                                    li 55 лет
                                    li Запойный алкоголизм
                        p.testimonial__text-title Текст отзыва:
                        p.testimonial__text Проходил лечение от алкоголизма в этой клинике. Понял, что все плохо, только когда жена с детьми ушла и с работы выгнали. Долго собирался, но обратился за помощью. Лечение не быстрое, мне понадобилось 3 месяца, чтобы избавиться от зависимости. Но оно того стоит – и времени, и денег. Персонал и врачи в клинике очень вежливые и тактичные, всегда поддерживают.

                    .swiper-slide.testimonial__slide
                        .testimonial__author
                            .testimonial__avatar
                                img(src="assets/images/businesswoman.png", alt="img")
                            .testimonial__personal
                                p.testimonial-name Иванова Анна Ивановна
                                ul.testimonial-list
                                    li Мытищи
                                    li 45 лет
                                    li Наркомания сына
                        p.testimonial__text-title Текст отзыва:
                        p.testimonial__text Сын недавно подсел на баклофен. Его поведение стало резко меняться: я поняла, что с его психикой происходит что-то неладное. Когда сыну стало плохо, вызвала наркологов на дом. К счастью, им удалось быстро нормализовать его самочувствие. Нарколог провел с сыном беседу наедине, и случилось просто какое-то чудо! Он согласился пройти лечение. Я не знаю, какими словами выразить мою благодарность, ведь мой ребенок уже год ведет здоровый образ жизни и снова стал нормальным человеком.

                .swiper-pagination.swiper-dots

            .swiper-arrows
                .swiper-button.button-prev
                    i.far.fa-arrow-left
                .swiper-button.button-next
                    i.far.fa-arrow-right

    // CONSULTATION
    section.consultation-section.invert-section
        include components/_consultation-blue