---
title: Врачи - Психотерапевтический центр
page_doctors: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Врачи', 'Врачи')

    section.doc-schedule-section

        .container

            h2.doc-schedule__title График работы врачей на январь 2022

            table.doc-schedule__table

                thead
                    tr
                        th Специалист
                        th Числа приема

                tbody

                    tr
                        td Гонтовой Александр Александрович
                        td 9, 16 ,23 , 30.

                    tr
                        td Баласанов Рафаэль Владимирович
                        td 3, 5, 7, 8, 10, 14, 17, 21, 22, 24, 28, 31.

                    tr
                        td Белянов Игорь Борисович
                        td 3, 4, 10, 11, 17, 18, 24, 25.

                    tr
                        td Прилепский Дмитрий Вадимович
                        td 2, 4, 6, 11, 13, 15, 18, 20, 25, 27.

                    tr
                        td Кропотова Татьяна Сергеевна
                        td 12, 19, 26, 29

    // CONSULTATION
    section.consultation-section
        include components/_consultation

    // DOCTORS
    section.doctors-section

        .container

            .docs__wrapper

                .docs__left

                    .docs__anonymous
                        p.docs__anonymous-title Мы гарантируем анонимность!
                        p.docs__anonymous-text Позвоните по телефону <a href="tel:+74951860563">+7 (495) 186-05-63</a> или оставьте заявку онлайн
                        button.anonymous-button.button-style.button-style--orange Записаться на приём

                    .docs__sertificates
                        h2.docs__sertificates-title Лицензии и сертификаты
                        .docs__sertificates-wrapper
                            img.docs__sertificates-image(src="assets/images/license-1.jpg", alt="img")
                            img.docs__sertificates-image(src="assets/images/license-2.jpg", alt="img")
                            img.docs__sertificates-image(src="assets/images/license-3.jpg", alt="img")
                            img.docs__sertificates-image(src="assets/images/license-4.jpg", alt="img")

                .docs__right

                    .docs__container

                        .docs__block
                            .docs__photo
                                img(src="assets/images/doc-1.jpg", alt="img")
                            .docs__info
                                h2.docs__info-title Гонтовой Александр Александрович
                                p.docs__info-text Психиатр-нарколог, психотерапевт. Ученик А. Р. Довженко. Награжден медалью Международной Лиги трезвости и здоровья. Ведущий специалист в области лечения табачной и алкогольной зависимостей.
                                .info-buttons-action
                                    button.button-style Подробнее о враче
                                    button.button-style.button-style--orange Записаться на приём

                        .docs__block
                            .docs__photo
                                img(src="assets/images/doc-2.jpg", alt="img")
                            .docs__info
                                h2.docs__info-title Баласанов Рафаэль Владимирович
                                p.docs__info-text Баласанов Р. В. Психиатр-нарколог, психолог-психотерапевт. Врач высшей категории. Ведущий специалист в области лечения алкогольной и никотиновой зависимостей, коррекции веса.
                                .info-buttons-action
                                    button.button-style Подробнее о враче
                                    button.button-style.button-style--orange Записаться на приём

                        .docs__block
                            .docs__photo
                                img(src="assets/images/doc-3.jpg", alt="img")
                            .docs__info
                                h2.docs__info-title Прилепский Дмитрий Вадимович
                                p.docs__info-text Прилепский Д. В. Психиатр-нарколог.В 1992 году окончил Горьковский медицинский институт. В «Психотерапевтическом центре «ДАР» работает с 1995 года.
                                .info-buttons-action
                                    button.button-style Подробнее о враче
                                    button.button-style.button-style--orange Записаться на приём

                        .docs__block
                            .docs__photo
                                img(src="assets/images/doc-4.jpg", alt="img")
                            .docs__info
                                h2.docs__info-title Кропотова Татьяна Сергеевна
                                p.docs__info-text В 2006 году окончила Самарский государственный медицинский университет по специальности «Лечебное дело». В Психотерапевтическом центре «ДАР» проводит первичный прием и лечение пациентов с алкогольной зависимостью
                                .info-buttons-action
                                    button.button-style Подробнее о враче
                                    button.button-style.button-style--orange Записаться на приём

                        .docs__block
                            .docs__photo
                                img(src="assets/images/doc-5.jpg", alt="img")
                            .docs__info
                                h2.docs__info-title Белянов Игорь Борисович
                                p.docs__info-text Белянов И. Б. Психиатр-нарколог. В 1993 году окончил Московскую академию им. И.М. Сеченова по специальности лечебное дело. В «Психотерапевтическом центре «ДАР» работает с 1995 года.
                                .info-buttons-action
                                    button.button-style Подробнее о враче
                                    button.button-style.button-style--orange Записаться на приём


                    .docs__content

                        h2.docs__content-title Первая методика кодирования
                        p.docs__content-text Первая методика кодирования от алкоголизма появилась в середине 80-х годов в СССР. Она была разработана заслуженным врачом А. Р. Довженко, утверждена и рекомендована Минздравом СССР, а позже и Минздравом России. Метод кодирования алкоголизма предполагает формирование у пациента нейтрального отношения к спиртным напиткам без использования медикаментозных средств.

                        h2.docs__content-title Кодирование в центре «ДАР»
                        p.docs__content-text Клиника кодирования от алкоголизма «ДАР» занимается лечением алкоголиков в Москве на протяжении 27 лет. За время работы мы помогли множеству пациентов вернуться к нормальной жизни без алкоголя. Но чтобы кодирование возымело эффект, необходимо, чтобы человек искренне желал избавиться от пагубного пристрастия. <br><br>Врачи клиники «ДАР» используют методику кодирования от алкоголизма по Довженко. Она полностью безопасна, не основана на запугивании и безболезненна. Кодирование по Довженко нацелено на актуализацию желания избавления от алкоголизма и ликвидацию причины заболевания – патологической тяги к алкоголю. При этом кодирование не оказывает влияния на личность человека. Он не меняет своего мировоззрения, привычек и характера.

                        h2.docs__list-title Слагаемые эффективного лечения от алкогольной зависимости

                        ul.docs__list-text

                            li Профессионализм врачей. Лечение от алкоголизма в клинике «ДАР» начинается с тщательной диагностики пациента. Только опытный врач способен выявить отличительные особенности личности человека, на основании которых будет подобран оптимальный комплекс психотерапевтических мероприятий.

                            li Искреннее желание больного побороть зависимость. Кодирование не будет эффективным, если человек не хочет вылечиться от алкоголизма. Потому что суть методики заключается в трансформировании желания больного избавиться от пагубного пристрастия в нейтральное отношение к алкоголю путем воздействия на его ЦНС немедикаментозными средствами.

                            li Грамотный процесс реабилитации. Проведенная процедура кодирования от алкоголя становится своеобразным трамплином, который помогает человеку отказаться от употребления крепких напитков. Но, возвращаясь домой и сталкиваясь с прежним кругом общения, который, как правило, включает людей со схожими проблемами, бывший алкоголик может сорваться. Поэтому, помимо кодирования, необходима поддерживающая терапия и консультации для родных и близких. Это позволит человеку избавиться от алкогольной зависимости навсегда.

                        span.docs-credit Статья написана под кураторством доктора Ечеистов В.В.

    // CONSULTATION
    section.consultation-section.invert-section
        include components/_consultation-blue