---
title: Цены - Психотерапевтический центр
page_prices: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Цены', 'Цены')

    section.price-section

        .container

            h2 Цены на лечение алкоголизма в Москве
            p.price__subtext Психотерапевтический центр ДАР специализируется на оказании помощи пациентам, страдающим от различных зависимостей и фобий. Специалисты клиники готовы помочь справиться с патологической тягой к алкоголю, табакокурением, игроманией, пищевым расстройством, а также преодолеть стрессы и страхи, избавиться от лишнего веса и восстановить психологическую гармонию. Мы предлагаем максимально выгодные условия: лечение проводится анонимно, цена процедур доступна всем категориям граждан.

            h2 Методы, применяемые для избавления от алкоголизма
            p.price__subtext Психотерапевтический центр ДАР специализируется на оказании помощи пациентам, страдающим от различных зависимостей и фобий. Специалисты клиники готовы помочь справиться с патологической тягой к алкоголю, табакокурением, игроманией, пищевым расстройством, а также преодолеть стрессы и страхи, избавиться от лишнего веса и восстановить психологическую гармонию. Мы предлагаем максимально выгодные условия: лечение проводится анонимно, цена процедур доступна всем категориям граждан.

            h3.price-list__title Методы, применяемые при лечении зависимости от алкоголя:
            ul.price-list
                li кодирование от алкоголизма по Довженко;
                li лечение женского алкоголизма;
                li конфигуративная методика избавления от алкогольной зависимости;
                li лечение от алкоголизма гипнозом.

            h3.price-list__title Лечение от алкоголизма в нашей клинике – это:
            ul.price-list
                li оказание помощи в соответствии с общепринятыми стандартами и протоколами;
                li психологическая поддержка на всех этапах избавления от зависимости и в период реабилитации;
                li подбор наиболее эффективных терапевтических методов с учётом наличия у пациента сопутствующих заболеваний.

            p.price__subtext При этом стоимость лечения алкоголизма остаётся приемлемой даже в особо тяжёлых случаях.

            h2 Стоимость услуг
            p.price__notify При оплате скидки не суммируются

            table.price__table

                thead
                    tr
                        th Наименование услуги
                        th Стоимость

                tbody

                    tr
                        td Предварительное снятие патологической тяги к алкоголю
                        td 7 000 ₽

                    tr
                        td Лечение никотиновой зависимости
                        td 13 000 ₽

                    tr
                        td Продление срока кодирования по методу Довженко
                        td 9 000 ₽

                    tr
                        td Индивидуальный сеанс лечения по методу Довженко
                        td 35 000 ₽

                    tr
                        td Конфигуративный метод лечения алкоголизма
                        td 35 000 ₽

                    tr
                        td Лечение алкогольной зависимости по методу Довженко
                        td 13 000 ₽

                    tr
                        td Лечение алкоголизма гипнозом
                        td 4 000 ₽

                    tr
                        td Коррекция веса
                        td 5 000 ₽

                    tr
                        td Лечение невроза/ лечение депрессии /лечение фобий, страхов
                        td 6 000 ₽

                    tr
                        td Лечение игровой зависимости
                        td 6 000 ₽

                    tr
                        td Лечение стресса
                        td 6 000 ₽

                    tr
                        td Индивидуальная консультация психолога
                        td 3 500 ₽

                    tr
                        td Семейная консультация психолога
                        td 4 500 ₽

                    tr
                        td Льготная стоимость при оплате за лечение от алкогольной зависимости
                        td 12 000 ₽

                    tr
                        td Лечение зависимости от курительных смесей
                        td 10 000 ₽

            p.price-list__text Лечение алкоголизма осуществляется по схеме, назначенной врачом клиники после предварительной консультации и сбора анамнеза. Стоимость услуг по избавлению от зависимости формируется с учётом следующих факторов:
            ul.price-list
                li сложности и особенностей выбранной методики (это может быть кодирование по Довженко, гипнотерапия и т. д.);
                li продолжительности курса лечения;
                li состояния пациента в момент обращения в клинику.

            p.price__subtext Расценки на услуги по кодированию, гипнотическому воздействию, снятию патологической тяги к алкоголю, психотерапевтическому воздействию, а также на продление срока кодирования представлены в таблице. Окончательная стоимость лечения назначается после консультации с лечащим врачом.

            h2 Центр ДАР: выбор в пользу трезвой жизни

            p.price__subtext Уже почти три десятилетия центр ДАР оказывает помощь людям, оказавшимся в сложной жизненной ситуации. Наркологи и психотерапевты знают, насколько важно поддержать пациента в этот непростой период. И они делают всё возможное, чтобы вернуть его к нормальной жизни. В клинику может обратиться каждый, кто оказался заложником алкогольной или иной зависимости.

            h3.price-list__title Лечение в клинике ДАР – это ряд очевидных преимуществ:
            ul.price-list
                li широкий перечень услуг;
                li применение эффективных методик по снятию зависимости от алкоголя, табакокурения, наркотических средств;
                li лечение под контролем опытных специалистов;
                li психологическая поддержка на всех этапах восстановления.

            p.price__subtext При лечении применяются только проверенные методики, безопасность которых научно доказана. Грамотный медицинский подход и искреннее желание самого пациента позволят победить недуг и навсегда отказаться от употребления алкоголя.

            a.price__rules(href="#") ПРАВИЛА ПРЕДОСТАВЛЕНИЯ ПЛАТНЫХ МЕДИЦИНСКИХ УСЛУГ


    // CONSULTATION
    section.consultation-section.invert-section
        include components/_consultation-blue